importFrom("gam", gam.control)
importFrom("rpart", rpart.control)

exportPattern("^[[:alpha:]]+")

exportClasses(
     "BIOMOD.formated.data",
     "BIOMOD.formated.data.PA",
     "BIOMOD.models.out",
     "BIOMOD.stored.array",
     "BIOMOD.stored.data",
     "BIOMOD.stored.formated.data",
     "BIOMOD.stored.models.options" 
)

exportMethods(
    "BIOMOD.formated.data",
    "EnsembleForecast_V2",
    "getModelsEvaluations",
    "getModelsOptions",
    "getModelsPrediction",
    "getModelsVarImport",
    ".Models.prepare.data",
    ".Projection.do.proj",
    "Projection_v2",
    "pseudo.abs.selection",
    "random.pseudo.abs.selection",
    ".transform.outputs" 
)

